.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.titleHeader {
  background-color: dodgerblue;
  color: white; 
  font-size: 50px;  
  margin: 0; 
}
.NavBar {
  background-color: dodgerblue;
  color: white; 
  font-size: 20px; 
  height: 3rem; 
}

.NavBar a { 
  color: white; 
  text-shadow: 3px 3px 3px solid black;
}
.CallSheet-Data { 
  display: flex;
  border: 3px solid grey; 
  color: dodgerblue; 
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.User-Info {
  background-color:rgb(98, 98, 191);
  color: white; 
}

.SubmitBtn{
  font-size: 25px;
}
.DataBtn{
  background-color: dodgerblue;
  color: white; 
  font-size: 18px; 
  margin: 6px 0 0 0 
}
tbody { 
  border: 3px grey; 
}
tr { 
  display: flex;
  justify-content: center;
  margin: 0 50px 0 50px;
}
td { 
  display: flex;
  margin: 0 100px 0 100px; 
  justify-content: center;
  border: 3px grey; 
}
th { 
  display: flex; 
  justify-content: center;
  border: 3px grey; 
  margin: 0 50px 0 50px; 
  background-color: rgb(87, 158, 230);
}
.table-striped{
  color: grey; 
}

input { 
  margin: 0 20px 0 20px
}
